HOST= {{ansible_hostname}}
MEMORY= {{ansible_memtotal_mb}}
BIOS= {{ansible_bios_version}}
VDA_DISK_SIZE= {% if ansible_devices.vda is defined %} {{ansible_devices.vda.size}} {% else %} none {% endif %}

VDB_DISK_SIZE= {% if ansible_devices.vdb is defined %} {{ansible_devices.vdb.size}} {% else %} none {% endif %}
